
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.text-bold{
    font-weight: bold;
}
.w-10{
    width: 30px;
}
.bg-red-light{
    background-color: #ea9188;
}
.text-blue{
    color: blue;
}
.text-red{
    color: red;
}
.derco-landing{
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    .derco-list{
        background-color: #e84343;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        padding: 50px;
        ul{
            position: relative;
            z-index: 3;
            li{
                color: white;
                font-weight: bold;
                a{
                    color: white;   
                    text-decoration: none;
                    font-weight: bold;
                    h4{
                        font-size: 1.6em;
                        color: white;                        
                        &:hover{
                            color: #007BFF;
                        }
                    }
                }
            }
        }
    }
}
